.container {
    background-color: rgb(237, 237, 237);
    max-width: 1000px;
    padding: 5px;
    margin: 0 auto;
}

.container__header {
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    margin: 20px 50px;
}