.tasks {
    list-style:  none;
    margin: 0;
    padding: 0;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    word-break: break-all;
}

.tasks__item--hidden {
    display: none;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: background 0.3s;
}

.tasks__button--toggleDone {
    background: hsl(120, 65%, 32%);
    border: none;
    color: white;
    height: 25px;
    width: 25px;
}

.tasks__button--toggleDone:hover {
    background: hsl(122, 61%, 40%);
}

.tasks__button--toggleDone:active {
    background: hsl(120, 61%, 44%);
}

.tasks__button--remove {
    background: hsl(350, 83%, 47%);
    border: none;
    color: white;
    height: 25px;
    width: 25px;
}

.tasks__button--remove:hover {
    background: hsl(350, 83%, 52%);
}

.tasks__button--remove:active {
    background: hsl(350, 83%, 57%);
}







